{% extends "base.html" %}

{% block title %}403 &ndash; Forbidden{% endblock %}
{% block heading %}Forbidden{% endblock %}

{% block content %}
    {% if message %}
    <p>{{ message|safe }}</p>
    {% else %}
    <p>You do not have permission to perform the requested action.</p>
    {% endif %}
{% endblock %}
